<div class="modal">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">APPLY YOURSELF</h1>
          <button class="button button-clear button-primary" ng-click="hideApplyModal()">Cancel</button>
        </ion-header-bar>
        <ion-content>
        <div class="content">
            <div class="card">
              <div class="item item-text-wrap">
                  Hi! Thanks for stopping by on your mobile device. Please go to the GigRef desktop site which will allow you to attach a resume.
                  If hired, you’ll get to keep your own referral fee!
              </div>
            </div>
            </div>
       </ion-content>
      </div>
  