<div class="modal">
    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">CONTACT</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
    <div class="card">
      <div class="item item-divider">
      <center>Want To Post Jobs?</center>
      </div>
      <div class="item item-text-wrap">
        Contact us at <a href="">hello@gigref.com</a> and one of our job specialists will connect  with you! We are currently helping dozens of companies find the right talent. Get instant access to the best candidates today!
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <center>Got Questions?</center>
      </div>
      <div class="item item-text-wrap">
        We have answers. Please send any questions to <a href="">support@gigref.com</a> and we will get back to you as soon as possible! We also get lonely, so fee free to send over your favorite memes! 
      </div>
    </div>
    </ion-content>
</div>
