<div class="modal">
    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">PRIVACY STATEMENT</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
    <div style="padding:20px;">
    <p>Your privacy is important to GIGREF.  This privacy statement provides information about the personal information that GIGREF collects, and the ways in which GIGREF uses that personal information.</p>
    <h4>Personal information collection</h4>
    <p>GIGREF may collect and use the following kinds of personal information:</p>
    <ul style="padding-left:20px; list-style-type:square;">
    <li>information about your use of this website</li>
    <li>information that you provide using for the purpose of registering with the website</li>
    <li>information about transactions carried out over this website</li>
    <li>information that you provide for the purpose of subscribing to the website services</li>
    <li>any other information that you send to GIGREF.</li>
    </ul>
    <h4>Using personal information</h4>
    <p>GIGREF may use your personal information to:</p>
    <ul style="padding-left:20px; list-style-type:square;">
    <li>administer this website;</li>
    <li>personalize the website for you;</li>
    <li>enable your access to and use of the website services;</li>
    <li>publish information about you on the website;</li>
    <li>send to you products that you purchase;</li>
    <li>supply to you services that you purchase;</li>
    <li>send to you statements and invoices;</li>
    <li>collect payments from you; and</li>
    <li>send you marketing communications.</li>
    </ul>
    <p></p>
    <p>Where GIGREF discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. GIGREF does not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating the GIGREF website, conducting GIGREF business, or servicing you, so long as those parties agree to keep this information confidential.</p>
    <p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, GIGREF may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>
    <h4>Securing your data</h4>
    <p>GIGREF will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</p>
    <p>GIGREF will store all the personal information you provide securely.</p>
    <h4>Cross-border data transfers</h4>
    <p>Information that GIGREF collects may be stored and processed in and transferred between any of the countries in which GIGREF operates to enable the use of the information in accordance with this privacy policy.</p>
    <p>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</p>
    <p>You agree to such cross-border transfers of personal information.</p>
    <h4>Updating this statement</h4>
    <p>GIGREF may update this privacy policy by posting a new version on this website.</p>
    <p>You should check this page occasionally to ensure you are familiar with any changes.</p>
    <h4>Other websites</h4>
    <p>This website contains links to other websites.</p>
    <p>GIGREF is not responsible for the privacy policies or practices of any third party.</p>
    <h4>Contact GIGREF</h4>
    <p>If you have any questions about this privacy policy or GIGREF’s treatment of your personal information, please write to <a href="">support@gigref.com</a></p>
    </div>
    </ion-content>
</div>
